*{
	font-family: "Roboto", sans-serif;
}

h1, p{
	font-family: "Montserrat", sans-serif;
	color: white;
}

#mouthimage{
	height: 250px;
	width: 250px;
	border-radius: 50%;
/*Create border for image	*/
	border-width: 12px;
	border-style: solid;
	border-color: black;
}


#landing{

	color: white;
	height: 100vh;
	background-color: black;

	/* center the content certically and horizontally*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -12px;
}

/*Transitions*/

#intro {
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#myButton {
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#myButton.fade, #intro.fade, #spannamef.fade{
	opacity: 0;
}

#name {
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

#name.up{
	transform: translate(20px, -135px);
	border-radius:5px;
}

#name.blur{
	
}

.input-group input {
	background: transparent;
	border: none;
}

.input-group span {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: white;
}

input[type="text"]::-webkit-input-placeholder{
	color: white;
}
input[type="text"]:-moz-placeholder{
	color: white;
	opacity: 1;
}
input[type="text"]::-moz-placeholder{
	color: white;
	opacity: 1;
}
input[type="text"]:-ms-input-placeholder{
	color: white;
}
input[type="text"]::-ms-input-placeholder{
	color: white;
}
input[type="text"]::placeholder{
	color: white;
}


